$color-warning : #F2F013;
$color-dark : #262626;
$color-white: #fff;
$color-gray: #414141;
$color-liteGray: #e6e6e6;
$color-Primary: #2FDD92;
$color-darkblue: #2F86A6;
$color-lightblue: #3845ff;
$color-lightgreen: #34BE82;
$color-orang: #ecb976;
