button{
    border: none;
    color: $color-dark;
    font-weight: 800;
    border-radius: 5px;
    padding: 10px;
    width: 105px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}